/* PACE */

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5px;
  width: 200px;
  background: #fff;
  border: 1px solid #b31a38;

  overflow: hidden;
}

.pace .pace-progress {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  max-width: 200px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: #b31a38;
}

.pace.pace-inactive {
  display: none;
}

body.pace-running:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1500;
  background-color: white;
}

/* CONTENU */

html{
	width: 100%;
	height: 100%;
}

body{
	margin:0;
	font-weight:300;
	line-height:1.5;
	font-family: "Lato";
}

h2{
	font-family: "Playfair Display";
	font-weight:300;
}

@media only screen and (max-height: 600px), screen and (max-width: 1080px){
	body p{
		font-size: calc(1.4vw + 1.4vh);
	}

	body button{
		font-size: calc(1.4vw + 1.4vh);
	}

	h2{
		font-size: calc(2.8vw + 2.8vh);
	}

	h3{
		font-size: calc(1.4vw + 1.4vh);
	}

	h4{
		font-size: calc(1.4vw + 1.4vh);
	}
}

@media only screen and (min-height: 600px) and (min-width: 1080px){
	body p{
		font-size: 1.25rem;
	}

	body button{
		font-size: 1.25rem;
	}

	h2{
		font-size: 2.5rem;
	}

	h3{
		font-size: 1.25rem;
	}
	
	h4{
		font-size: 1.25rem;
	}
}


*::selection{
	background:rgba(247, 202, 201, .75);
}

*::-moz-selection{
	background: rgba(247, 202, 201, .75);
}

img{
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.head{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: #001e62;
	color:white;
	text-align:center;
	background-image:url("./images/mosaique1.jpg");
	background-size: calc(150vh + 150vw);
	background-blend-mode: unset;
	background-position: center;
	min-width:330px;
}

.padder{
	display:block;
	position:absolute;
	padding-top:1rem;
	padding-left:.5rem;
	padding-right:.5rem;
	top:0;
	right:0;
	bottom:0;
	left:0;
	height:auto;
}

.head ul{
	display:table;
	table-layout: fixed;
	position:relative;
	margin: 0 auto 0 auto;
	padding:0;
	width:90%;
	max-width:40rem;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
	height: 90%;
}

.head li{
    text-align: center;
    display: table-row;
    background: transparent;
}

.head span{
    display: table-cell;
    vertical-align: middle;
}

.head svg{
	width:100%;
	max-width:50vh;
}

.head h2{
	margin:.5rem 0 .5rem 0;
}

.head a{
	color:inherit;
	text-decoration:none;
	font-weight:bold;
}

.head p{
	margin:.3rem 0 .3rem 0;
}

.enabled{
	border-style: solid;
	padding: 1rem 2rem 1rem 2rem;
	cursor: pointer;
	opacity: .8;
	background-color: transparent;
	margin: 1rem 0 0 0;
	color:white;
	transition:opacity .5s ease-in-out;
}

.enabled:hover{
	opacity: 1;
	transition:opacity .5s ease-in-out;
}

.disabled{
	border-style: solid;
	padding: 1rem 2rem 1rem 2rem;
	cursor: not-allowed;
	opacity: .5;
	background-color: transparent;
	margin: 1rem 0 0 0;
	color:white;
	transition:.5s ease-in-out;
}

.disabled:hover{
	opacity:0.5;
	color:#3d70b2;
	transition:.5s ease-in-out;
}

.content{
	position:absolute;
	top:100%;
	width:100%;
	height:auto;
	background-color:white;
	min-width:330px;
}

.insert h2{
	text-align:center;
	margin-top: 0;
}

.separator{
	position: relative;
	height:auto;
}

.niche_top{
	position:relative;
	width:90%;
	max-width:50rem;
	margin: 0 auto 0 auto;
	padding-top:1rem;
	top:-1rem;
	background-color:white;
}

.niche_bottom{
	position:relative;
	width:90%;
	max-width:50rem;
	margin: 0 auto 0 auto;
	padding-bottom:1rem;
	bottom:-1rem;
	background-color:white;
	z-index:1;
	z-index:1;
}

.insert{
	position: relative;
	height:auto;
	width:90%;
	max-width:50rem;
	margin: 0 auto 0 auto;
	text-align:justify;
}

.insert p{
	margin:.5rem 1rem .5rem 1rem;
}

.sep{
	position: relative;
	width:100%;
	height:50vh;
	background-size: cover;
	background-position: 20% 30%;
}

.sep1{
	background-image: url("./images/ecole.jpg");
}

.sep2{
	background-image: url("./images/bibli1.jpg");
	background-position: 0% 30%;
}

article{
	position: relative;
	height:auto;
	width:90%;
	max-width:55rem;
	margin: 0 auto 2rem auto;
	text-align:justify;
}

article h2{
	text-align:center;
}

article aside{
    text-align: justify;
    -moz-text-align-last: center;
    -webkit-text-align-last: center;
    text-align-last: center;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-style: italic;
	margin:1rem;
}

.prestige h3, .prestige h4{
	color: #d1a14a;
}

.emotion h3, .emotion h4{
	color: #b31a38;
}

article aside p{
	margin:1rem 0 1rem 0;
	line-height:1.5;
}

article img{
	width:100%;
}

article p{
	margin: .2rem 1rem .2rem 1rem;;
}

.inline{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: normal;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	width:85%;
	text-align:justify;
}

@media screen and (min-width: 1080px) {

	.prestige div{
		width: calc(31% - 2rem);
		margin:1rem;
	}

	.emotion div{
		width: calc(48% - 2rem);
		margin:1rem;
	}

}

@media screen and (max-width: 1080px) {
 
	.inline div{
		width: calc(100% - 2rem);
		max-width:50rem;
		margin: 1rem auto 1rem auto;
	}

}

.inline h4{
    text-align: center;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    height: 5rem;
	position: relative;
	font-family: "Playfair Display";
}

.inline .thmn{
	position: relative;
	width:100%;
	height:20rem;
	margin:auto auto 2rem auto;
	background-size: cover;
	background-position: center;
}

.th1{
	background-image: url("./images/ant.jpg");
}

.th2{
	background-image: url("./images/jul.jpg");
}

.th3{
	background-image: url("./images/lau.jpg");
}

.quote{
	position: relative;
	width:100%;
	height:50vh;
	background-size: 100%;
	background-repeat: no-repeat;
}

.quote div{
	background: white;
    width: 70%;
	max-width:50rem;
	position:relative;
	top: 50%;
    transform: translateY(-50%);
}

.quote div h1{
	font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 900;
    text-align: center;
	margin:1rem;
}

@media screen and (min-width: 1000px){
	.quote div h1{
		font-size: 3.8rem;
	}
	
}

@media screen and (max-width: 1000px), screen and (max-height: 500px){
	.quote div h1{
		font-size: calc(3vw + 3vh);
	}
	
}

.sep3{
	background:#1c2445;
	background-image: url("./images/reseau.svg");
	background-size:cover;
    color: #b31a38;
}

.th4{
	background-image: url("./images/isa.jpg");
}

.th5{
	background-image: url("./images/fra.jpg");
}

.sep4{
	background:#001e62;
	background-image: url("./images/fleurs.svg");
	background-size:cover;
    color: #b31a38;
}

.inline button{
	color:#001e62;
	margin:4rem auto 2rem auto;
}

.merci{
	margin-bottom:3rem;
	margin-top:0;
	text-align:center;
}

.soutiens{
	align-items:center;
	text-align:center;
	justify-content:center;
	margin-bottom: 4rem;
}

.soutiens a{
	fill:#001e62;
	margin:1rem auto 1rem auto;
	width:33%;
	min-width:256px;
	min-height:128px;
}

a:hover{
	fill:#3d70b2;
	transition:fill 250ms ease-in-out;
}

a{
	transition:fill 250ms ease-in-out;
}

.soutiens svg{
	height:128px;
	width:100%;
}

.sep5{
	height:50vh;
	background-image: url("./images/observatoire.jpg");
	background-size:cover;
	background-position: 0% 45%;
}

#map{
	width: 100%;
    min-height: 10rem;
	height:50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    -webkit-perspective: 100px;
    perspective: 100px;
    overflow: hidden;
}

#map iframe{
	width:100%;
	height:100%;
}

.info-ecole{
	align-items:center;
	text-align:center;
	justify-content:center;
	margin: 4rem auto 5rem auto;
}

.info-ecole img{
	max-height:14rem;
	min-width:300px;
	max-width:70vw;
	margin:1rem;
}

.info-ecole div{
	width:40%;
	max-height:15rem;
	min-width:300px;
	margin:1rem;
}

.ecole{
	text-transform: uppercase;
	font-size:1rem;
}

.adresse{
	font-size:.75rem;
}

.footer .inline{
	justify-content:space-between;
	width:90%;
	flex-wrap: wrap-reverse;
}

.footer{
	background-color:#1c2445;
	padding:1rem 0 1rem 0;
	fill:#d1a14a;
}

.footer p{
	color:#d1a14a;
}

@media only screen and (max-height: 600px), screen and (max-width: 1080px){
	.footer p{
		font-size:calc(1.2vw + 1.2vh);
	}
}

@media only screen and (min-height: 600px) and (min-width: 1080px){
	.footer p{
		font-size:1rem;
	}
}


.foot-link{
	color:#b31a38;
}

.foot-link:hover{
	color:#648fff;
}

.inline .social{
	width:200px;
	margin:1rem;
	justify-content:space-between;
	text-align:center;
}

.nofullwidth{
	width:calc(200px + 2rem)!important;
	margin-top:0!important;
	margin-bottom:0!important;
}

.social-link{
	transition:fill 250ms ease-in-out;
}

.social-link:hover{
	fill:#b31a38;
	transition:fill 250ms ease-in-out;
}

.footer .social{
	justify-content:space-between;
}

.social svg{
	fill:#d1a14a;
}