/* Générique */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    color: #001e62;
    background-color: white;
    line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"] {
    border-radius: 0;
}

input[type="text"]::-ms-clear {
    display: none;
}

/* HTML5 sur les navigateurs trop vieux */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 300;
}

em {
    font-style: italic;
}

a {
    color: #3d70b2;
}

h1 {
    font-size: 2.25rem;
    line-height: 1.25;
    font-weight: 300;
}

h2 {
    font-size: 1.75rem;
    line-height: 1.25;
    font-weight: 300;
}

h3 {
    font-size: 1.25rem;
    line-height: 1.25;
    font-weight: 300;
}

h4 {
    font-size: 1.125rem;
    line-height: 1.25;
    font-weight: 600;
}

h5 {
    font-size: 1rem;
    line-height: 1.25;
    font-weight: 600;
}

h6 {
  font-size: 0.875rem;
  line-height: 1.25;
  font-weight: 600;
}

*::-moz-selection {
  background: #f7cac9;
  /* WebKit/Blink Browsers */ }

*::selection {
  background: #f7cac9;
  /* WebKit/Blink Browsers */ }


/* PACE */

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5px;
  width: 200px;
  background: #fff;
  border: 1px solid #b31a38;

  overflow: hidden;
}

.pace .pace-progress {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  max-width: 200px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: #b31a38;
}

.pace.pace-inactive {
  display: none;
}

body.pace-running:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1500;
  background-color: white;
}

/* CONTENU */

/* boutons */

button.btn {
  display: inline-block; }

button.btn::-moz-focus-inner {
  padding: 0;
  border: 0; }

button.btn .btn__icon {
  position: relative;
  vertical-align: middle;
  top: -1px; }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    button.btn .btn__icon {
      top: 0; } }

.btn {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.5px;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 0.875rem;
    font-weight: 600;
    height: 2.5rem;
    padding: 0 1rem;
    border-radius: 0;
    text-align: center;
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: ease-in;
    white-space: nowrap;
    line-height: 16px;
}
.btn:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.btn-sec {
    background-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-color: #3d70b2;
    color: #3d70b2;
}
.btn-sec:focus, .btn-sec:hover {
    background-color: #3d70b2;
}
.btn-sec:focus {
    border: 2px solid #1c2445;
    outline: 2px solid #3d70b2;
}
.btn-sec:disabled:hover, .btn-sec:disabled:focus {
    background-color: transparent;
}
.btn-sec:active {
    background-color: transparent;
}
.btn-sec:hover, .btn-sec:focus {
    color: #fff;
}
.btn-sec:active {
    color: #3d70b2;
}
.btn-sec:hover > .btn__icon,
.btn-sec:focus > .btn__icon {
    fill: #fff;
}
.btn-sec:hover:disabled, .btn-sec:focus:disabled {
    color: #3d70b2;
}

.banner-btn {
    position:relative;
    top: 30%;
    border-color: white;
    color: white;
    position: relative;
    z-index: 2; }
@media all and (max-width: 700px) {
    .banner-btn {
        position:relative;
        top: -10%;
    }
}
.banner-btn:hover {
    background: white;
    color: #b31a38;
}

/* Sections */

.section {
    padding-left: 3%;
    padding-right: 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    padding-top: 6rem;
    padding-left: 3%;
    padding-right: 3%; }
@media (min-width: 600px) {
        .section {
        padding-left: 5%;
        padding-right: 5%;
    }
}
@media (min-width: 840px) {
    .section {
        padding-left: 12.5%;
        padding-right: 12.5%;
    }
}
@media all and (max-width: 700px) {
    .section {
        padding-top: 4rem;
    }
}
@media all and (min-width: 600px) {
    .section {
        padding-left: 5%;
        padding-right: 5%;
    }
}
@media all and (min-width: 840px) {
    .section {
        padding-left: 8.5%;
        padding-right: 8.5%;
    }
}

.banner{
  width: 100%;
  height: 100vh;
  background-color: #001e62;
    background-image : url("images/mosaique1.jpg");
    background-size: cover;
    background-position: top center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
  -webkit-perspective: 100px;
          perspective: 100px;
  transition: background-size 600ms ease;
}
@media all and (max-width: 930px) {
    .banner {
    }
}
@media all and (max-width: 2000px) {
    .banner {
        background-size: 300%;
        background-position: -100%;
    }
}

.banner-logo {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 3.375rem;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    display: block;
    z-index: 2;
    position: absolute;
    top: 1.5em;
    left: auto;
    right: auto;
    height: 2.8em;
    width: auto;}
@media all and (max-width:930px) {
    .banner-logo {
        font-size:2.4rem;
    }  
}
@media all and (max-width: 700px) {
    .banner-logo {
        font-size: 2.25rem;
    }
}
@media all and (max-width: 500px) {
    .banner-logo {
        font-size: 1.75rem;
    }
}

.showcase {
    text-align:center;
    padding: 1rem;
    position: absolute;
    top: 50%;
    z-index:2;
    color: white;
    width:60%;
}

.sep div {
  background: white;
  padding: 1rem;
  position: relative;
  z-index: 2;
  max-width: 60%;
  padding: 1.2rem;}

.sep div h1 {
    font-family: 'Playfair Display', serif;
    color:#b31a38;
    font-size: 4rem;
    font-style: italic;
    font-weight: 900;
    text-align:center;
}

@media all and (max-width:930px) {
    .sep div h1 {
        font-size: 3.5rem;
    }
}

 @media all and (max-width: 700px) {
    .showcase {
      width:80% }
     .sep div h1 {
         font-size:3rem;
     }
}

 @media all and (max-width: 450px) {
    .showcase {
      width:90% }
     .sep div {
         max-width: 80%;
     }
     .sep div h1 {
      font-size:2rem;   
     }
}

@media all and (max-width:350px) {
    .sep div h1 {
        font-size: 1.2rem;
    }
    .showcase h2 {
        font-size: 1.2rem;
    }
    .showcase p {
        font-size: .8rem;
    }
}

.showcase p {
    text-align:center;
}

.showcase h2 {
  /*color: #b31a38;*/
  font-weight: 300;
  margin-bottom: 1.2rem;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}

.showcase a {
    color:white;
    text-decoration:none;
    font-weight: bold;
}


.insert h2{
	text-align:center;
	margin-top: 0;
}

.separator{
	position: relative;
	height:auto;
}

.insert{
	position: relative;
    background: white;
	height:auto;
	width:90%;
	max-width:50rem;
	margin: -1rem auto;
    padding: 1rem;
	text-align:justify;
    z-index:2;
}

.insert p{
	margin:.5rem 1rem .5rem 1rem;
}

.sep{
	position: relative;
	width:100%;
	height:50vh;
	background-size: cover;
	background-position: 20% 30%;
}

.sep1{
	background-image: url("./images/ecole.jpg");
}

.sep2{
	background-image: url("./images/bibli1.jpg");
	background-position: 0% 30%;
}

article{
	position: relative;
	height:auto;
	width:90%;
	max-width:55rem;
	margin: 0 auto 2rem auto;
	text-align:justify;
    padding: 1rem;
}

article h2{
	text-align:center;
}

article aside{
    text-align: justify;
    -moz-text-align-last: center;
    -webkit-text-align-last: center;
    text-align-last: center;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-style: italic;
	margin:1rem;
}

.prestige h3, .prestige h4{
	color: #d1a14a;
}

.emotion h3, .emotion h4{
	color: #b31a38;
}

article aside p{
	margin:1rem 0 1rem 0;
	line-height:1.5;
}

article img{
	width:100%;
}

article p{
	margin: .2rem 1rem .2rem 1rem;;
}

.inline{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: normal;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	width:85%;
	text-align:justify;
}

@media screen and (min-width: 1080px) {

	.prestige div{
		width: calc(31% - 2rem);
		margin:1rem;
	}

	.emotion div{
		width: calc(48% - 2rem);
		margin:1rem;
	}

}

@media screen and (max-width: 1080px) {
 
	.inline div{
		width: calc(100% - 2rem);
		max-width:50rem;
		margin: 1rem auto 1rem auto;
	}

}

.inline h4{
    text-align: center;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    height: 5rem;
	position: relative;
	font-family: "Playfair Display";
}

.inline .thmn{
	position: relative;
	width:100%;
	height:20rem;
	margin:auto auto 2rem auto;
	background-size: cover;
	background-position: center;
}

.th1{
	background-image: url("./images/ant.jpg");
}

.th2{
	background-image: url("./images/jul.jpg");
}

.th3{
	background-image: url("./images/lau.jpg");
}

.quote{
	position: relative;
	width:100%;
	height:50vh;
	background-size: 100%;
	background-repeat: no-repeat;
}

.quote div{
	background: white;
    width: 70%;
	max-width:50rem;
	position:relative;
	top: 50%;
    transform: translateY(-50%);
}

.quote div h1{
	font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 900;
    text-align: center;
	margin:1rem;
}

@media screen and (min-width: 1000px){
	.quote div h1{
		font-size: 3.8rem;
	}
	
}

@media screen and (max-width: 1000px), screen and (max-height: 500px){
	.quote div h1{
		font-size: calc(3vw + 3vh);
	}
	
}

.sep3{
	background:#1c2445;
	background-image: url("./images/reseau.svg");
	background-size:cover;
    color: #b31a38;
}

.th4{
	background-image: url("./images/isa.jpg");
}

.th5{
	background-image: url("./images/fra.jpg");
}

.sep4{
	background:#001e62;
	background-image: url("./images/fleurs.svg");
	background-size:cover;
    color: #b31a38;
}

.inline button{
	color:#001e62;
	margin:4rem auto 2rem auto;
}

.merci{
	margin-bottom:3rem;
	margin-top:0;
	text-align:center;
}

.soutiens{
	align-items:center;
	text-align:center;
	justify-content:center;
	margin-bottom: 4rem;
}

.soutiens a{
	fill:#001e62;
	margin:1rem auto 1rem auto;
	width:33%;
	min-width:256px;
	min-height:128px;
}

a:hover{
	fill:#3d70b2;
	transition:fill 250ms ease-in-out;
}

a{
	transition:fill 250ms ease-in-out;
}

.soutiens svg{
	height:128px;
	width:100%;
}

.sep5{
	height:50vh;
	background-image: url("./images/observatoire.jpg");
	background-size:cover;
	background-position: 0% 45%;
}

#map{
	width: 100%;
    min-height: 10rem;
	height:50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    -webkit-perspective: 100px;
    perspective: 100px;
    overflow: hidden;
}

#map iframe{
	width:100%;
	height:100%;
}

.info-ecole{
	align-items:center;
	text-align:center;
	justify-content:center;
	margin: 4rem auto 5rem auto;
}

.info-ecole img{
	max-height:14rem;
	min-width:300px;
	max-width:70vw;
	margin:1rem;
}

.info-ecole div{
	width:40%;
	max-height:15rem;
	min-width:300px;
	margin:1rem;
}

.ecole{
	text-transform: uppercase;
	font-size:1rem;
}

.adresse{
	font-size:.75rem;
}

.footer .inline{
	justify-content:space-between;
	width:90%;
	flex-wrap: wrap-reverse;
}

.footer{
	background-color:#1c2445;
	padding:1rem 0 1rem 0;
	fill:#d1a14a;
}

.footer p{
	color:#d1a14a;
}

@media only screen and (max-height: 600px), screen and (max-width: 1080px){
	.footer p{
		font-size:calc(1.2vw + 1.2vh);
	}
}

@media only screen and (min-height: 600px) and (min-width: 1080px){
	.footer p{
		font-size:1rem;
	}
}


.foot-link{
	color:#b31a38;
}

.foot-link:hover{
	color:#648fff;
}

.inline .social{
	width:200px;
	margin:1rem;
	justify-content:space-between;
	text-align:center;
}

.nofullwidth{
	width:calc(200px + 2rem)!important;
	margin-top:0!important;
	margin-bottom:0!important;
}

.social-link{
	transition:fill 250ms ease-in-out;
}

.social-link:hover{
	fill:#b31a38;
	transition:fill 250ms ease-in-out;
}

.footer .social{
	justify-content:space-between;
}

.social svg{
	fill:#d1a14a;
}